
.skills {
  min-height: 70vh;
  display: flex;
  flex-direction: column;   /* 👈 forces heading to top */
  align-items: center;      /* keeps everything centered */
}

/* Title */
.skills h1 {
  font-size: 40px;
  margin-bottom: 0px;
}

.skills-container {
  display: flex;           /* 👈 flex instead of grid */
  flex-wrap: wrap;         /* allows next row */
  justify-content: center; /* center alignment */

  gap: 30px;               /* 👈 spacing between cards */
  max-width: 1000px;
  margin: auto;
}


.skills-card {
 padding: 25px;
  width: 280px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgb(184, 140, 109);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(133, 176, 123, 0.947);
}


.skills-card h2 {
  margin-bottom: 10px;
}

.type {
  color: #a78bfa;
  font-size: 14px;
}

.tools {
  font-size: 14px;
  color: #ccc;
  margin: 5px 0;
}

.desc {
  font-size: 14px;
  margin: 10px 0 20px;
  color: #fdfbfb;
}


.buttons {
  display: flex;
  gap: 10px;
}

.buttons a {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  background: #5b3b8c;
  color: white;
  transition: 0.3s;
}

.buttons a:hover {
  background: #7c3aed;
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr; 
  }
}